<div class="container mh-100 mt-5">
    <div class="row mh-100">
        <div class="col-md-3">
            <h3><span class="fas fa-users"></span> Users</h3>
            {{#each users}}
            <div class="userDisplay">
                <p class="userText">{{this.username}}</p>
            </div>

            {{/each}}
        </div>
        <div class="col-md-9">
            <div id="chat-messages">
                {{!-- {{#each messages}}
                <div class="card mb-3 message-bubble">

                    <div class="card-body">
                        <div class="card-title">
                            <h4>{{dataValues.User.dataValues.username}} </h4>
                        </div>

                        <p>{{dataValues.body}} <span style="font-size:10px">{{dataValues.createdAt}}</span></p>


                    </div>

                </div>

                {{/each}} --}}
            </div>


            <form id="chat-form" class="form-group mt-3">
                <div class="input-group">
                    <input type="text" id="msg" class="form-control" placeholder="Enter message" required
                        autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"><span
                                class="far fa-paper-plane"></span></button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>