<div class="slantedDiv"></div>
<div class=" container my-5 pt-5 text-center">
    <div class="content">
        <h1>Chats 'R'Us</h1>
        <p>Work communication made easy</p>
        <a href="/login" class="btn btn-block mt-3 ">Get Started</a>
    </div>
    <div class="row my-5" data-aos="slide-up">
        <div class="col-md-4">
            <div class="card border-0">
                <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="" class="card-img-top">
                <h5 class="card-title">A Feature</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, nisi.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0">
                <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="" class="card-img-top">
                <h5 class="card-title">A Feature</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, nisi.</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card border-0">
                <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" alt="" class="card-img-top">
                <h5 class="card-title">A Feature</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, nisi.</p>
            </div>
        </div>
    </div>
</div>