<form id="login-form">
  <h2 class="mb-4 pt-3">LOGIN</h2>
  <div class="input-group">
    <span class="input-group-addon"><span class="fas fa-envelope icon"></span></span>
    <input type="email" class="form-control" id="email" placeholder="Email" required>
  </div>
  <div class="input-group">
    <span class="input-group-addon"><span class="fas fa-lock icon"></span></span>
    <input type="password" class="form-control" id="password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-block my-4">Login</button>
  <p class="small">Not a member? <a href="/signup">sign up</a></p>
</form>

<script src="/js/login.js"></script>