<form id="signup-form">
  <h3 class="mb-4 pt-3">CREATE ACCOUNT</h3>
  <div class="input-group">
    <span class="input-group-addon"><span class="fas fa-user icon"></span></span>
    <input type="name" class="form-control" id="username" placeholder="Username" required>
  </div>

  <div class="input-group">
    <span class="input-group-addon"><span class="fas fa-envelope icon"></span></span>
    <input type="email" class="form-control" id="email" placeholder="Email" required>
  </div>
  <div class="input-group">
    <span class="input-group-addon"><span class="fas fa-lock icon"></span></span>
    <input type="password" class="form-control" id="password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-block my-4">Sign Up</button>
  <p class="small ">Already a member? <a href="/login">Login</a></p>
</form>

<script src="/js/signup.js"></script>